<footer class="py-4 bg-primary">
    <div class="container">
        <div class="row gy-3">
            <div class="col-md-4 text-center text-md-start">
                <span class="badge " id="ft-phone">
                    <i class="fa-solid fa-phone"></i><a href="">0850 850 85 85</a>
                </span>
            </div>
            <div class="col-md-8">
                <nav class="text-center text-md-end">
                    <a href="#" class="btn btn-icon btn-outline-light">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#" class="btn btn-icon btn-outline-light">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="#" class="btn btn-icon btn-outline-light">
                        <i class="fab fa-youtube"></i>
                    </a>
                    <a href="#" class="btn btn-icon btn-outline-light">
                        <i class="fab fa-twitter"></i>
                    </a>
                </nav>
            </div>
            <div class="col-md-12">
                <p class="text-center text-white">
                    E-Commerce | 2023
                </p>
            </div>

        </div>
    </div>
</footer>