@model RoleModel

<section>
    <div class="container my-5">
        <div class="row gy-3">
            @await Html.PartialAsync("_sidebar")
            <div class="col-lg-9">

                <div class="acc-title">Rol Ekle</div>

                <div class="acc-form">
                    <form name="adress-form" class="row g-1 mb-4" asp-controller="Admin" asp-action="RoleCreate" method="POST">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="col-12 col-lg-6">
                            <label asp-for="Name" class="form-text"></label>
                            <input class="form-control" asp-for="Name">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="col-12 text-center my-4">
                            <button type="submit" class="btn btn-secondary">Rol Ekle</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
