<div class="mx-auto" style="max-width:40rem">

    <div class="welcome text-center my-3">
        <h4 class="fw-bold">Şifremi Unuttum</h4>
    </div>

    <form asp-controller="Account" asp-action="ForgotPassword" class="p-5 login-form" method="POST">

        <input class="form-control mb-3" name="Email" type="email" placeholder="E-posta">

        <div class="d-grid  mx-auto mb-3">
            <button type="submit" class="btn btn-primary btn-login">Gönder</button>
        </div>
    </form>
</div>