@model ResetPasswordModel
<div class="mx-auto" style="max-width:40rem">

    <div class="welcome text-center my-3">
        <h4 class="fw-bold">Parolanızı Yenileyiniz</h4>
    </div>

    <form asp-controller="Account" asp-action="ResetPassword" class="p-5 login-form" method="POST">
        <div asp-validation-summary="All" class="text-danger"></div>
        <input type="hidden" asp-for="Token"/>
        <input class="form-control mb-3" asp-for="Email" placeholder="E-posta">
        <span asp-validation-for="Email" class="text-danger"></span>

        <input class="form-control mb-3" asp-for="Password" placeholder="Yeni Şifreniz">
        <span asp-validation-for="Password" class="text-danger"></span>

        <div class="d-grid  mx-auto mb-3">
            <button type="submit" class="btn btn-primary btn-login">Gönder</button>
        </div>
    </form>
</div>
